<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="Make, Model, Year">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body class="">
    <div class="font-parking container mx-auto max-w-lg bg-white">
      <header>
        <section class="container">
          <nav></nav>
          <h1 class="py-4 text-center text-2xl uppercase text-gray-800">
            <span class="border-2 border-gray-400 px-1">Make</span>
            <span class="border-2 border-gray-400 px-1">Model</span>
            <span class="border-2 border-gray-400 px-1">Year</span>
          </h1>
        </section>
      </header>
      <div class="pb-16">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
